@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.knptitle {
  color: rgb(0, 0, 0);
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.header-dropdown {
  background-color: #fff !important;
  color: black;
  border: none;
}
.header-dropdown:hover {
  color: black;
}
.header-dropdown:active {
  color: black;
}

.dropdown-menu {
  border-color: black;
}

ul,
li {
  list-style: none;
}

.header-rows,
.nav-list,
.header-row-navigation-yaka-fignya {
  display: flex;
}

.header-row-navigation-yaka-fignya {
  justify-content: space-between;
}

.nav-list {
  justify-content: space-around;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.toggle {
  width: 50px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle.active {
  background-color: grey;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: transform 0.3s;
}

.circle.active {
  transform: translateX(20px);
  background-color: white;
}

.second-header-row {
  display: flex;
}

header {
  width: 100%;
}

.nav-list-item:nth-child(2) {
  width: 150px;
}

.header-row {
  width: 50%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 175px;
}

.group-toggle {
  display: flex;
  align-items: center;
}

main {
  background-color: rgb(255, 0, 0);
  background-image: url("../img/main-bg.png");
}

.main-title {
  color: rgb(0, 0, 0);
  font-family: Montserrat Alternates;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
}

.body-main {
  margin: 0 175px 0 175px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.line-section {
  text-align: center;
  align-self: center;
  align-items: center;
  border: 3px solid rgb(0, 0, 0);
  width: 536px;
  border-radius: 5px;
  margin: 0 auto;
}

.yearOfBornTitle {
  color: rgb(0, 0, 0);
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

.yearOfBornInputBox {
  position: relative;
  width: 315px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 15px 10px 0px;
}

.yearOfBornInputBtn {
  /* Frame 105 */
  position: relative;
  width: 35px;
  height: 35px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 7px;
  border-radius: 0px 20px 20px 0px;
  background: rgb(0, 0, 0);
}

.yearOfBornInput {
  /* Frame 5 */
  position: relative;
  width: 215px;
  height: 35px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 45px 10px 10px;
  border-radius: 20px;
  background: rgb(215, 215, 215);
}

.text-body-success {
  color: rgb(3, 153, 0);
}

.yearOfBornAnswerBox {
  display: flex;
  justify-content: space-around;
}