<h3 class="yearOfBornTitle">Пеоевір в який рік ти народився</h3>

<br />
<div class="yearOfBornAnswerBox">
  <div class="input-group mb-3 yearOfBornInputBox">
    <input
      type="text"
      class="form-control yearOfBornInput"
      placeholder="Введіть рік народження"
      aria-label="Recipient's username"
      aria-describedby="button-addon2"
    />
    <button
      class="btn btn-dark yearOfBornInputBtn"
      type="button"
      id="button-addon2 "
      onclick=""
    >
      <img src="./partials/games/lupa.png" alt="" />
    </button>
  </div>

  <div class="YearOfBornAnswer">
    <p class="YearOfBornAnswerText text-body-success">напишіть щось!</p>
  </div>
</div>

<script src="./partials/games/js/yearOfBorn.js"></script>
