<div class="scientists">
  <div class="ss-list"></div>
  <div class="sciGrid">
    <button class="btnAE sciBtn btn btn-dark">
      Знайти рік народження Albert Einshtein
    </button>
    <button class="btnAlf sciBtn btn btn-dark">
      Відсортувати вчених за алфавітом
    </button>
    <button class="btnC sciBtn btn btn-dark">
      Знайти вчених, прізвища яких починаються на на літеру “С”
    </button>
    <button class="btnVik sciBtn btn btn-dark">
      Відсортувати вчених за кількістю прожитих років
    </button>
    <button class="btnA sciBtn btn btn-dark">
      Видалити всіх вчених, ім’я яких починається на “А”
    </button>
    <button class="btnNayp sciBtn btn btn-dark">
      Знайти вченого, який народився найпізніше
    </button>
    <button class="btn19st sciBtn btn btn-dark">
      Які вчені народилися в 19 ст.
    </button>

    <button class="sciBtn btn btn-dark dieAndLive" onclick="findShortestAndLongestLifespan()">
      Знайти вченого, який прожив найдовше і вченого, який прожив найменше
    </button>

    <button class="sciBtn btn btn-dark">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
  </div>
</div>
<script src="./partials/games/sci/js/sci.js"></script>
