<h3 class="knptitle">Камінь - ножиці - папір</h3>

<div class="containerKnp">
    <div class="knpBtns">
        <button type="button" class="btn btn-dark knpBtn" id="knpBtn3"><img src="./partials/games/knp/img/stone.png" alt=""></button>

        <button type="button" class="btn btn-dark knpBtn" id="knpbtn2"><img src="./partials/games/knp/img/scissors.png" alt=""></button>

        <button type="button" class="btn btn-dark knpBtn" id="knpBtn"><img src="./partials/games/knp/img/paper.png" alt=""></button>

    </div>
</div>