<h3>Наша Команда</h3>
<div class="slider-team">
  <ul class="slider-team-list">
        <li class="slider-team-item">
      <img
        class="team-img"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuVeOlPB0v7o4U3jMSn01eO6mb-hdeDtc1rQ&s"
        alt=""
      />
    </li>
    <li class="slider-team-item team-arrow">
      <img
        class="team-img-me"
        src="https://byteme6.github.io/resume-yura/img.png"
        alt=""
      />
      <p>Зробив все тут, зі мною ніхто не хотів нічого робити =(</p>
    </li>
        <li class="slider-team-item">
      <img
        class="team-img team-arrow-rotate team-arrow"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuVeOlPB0v7o4U3jMSn01eO6mb-hdeDtc1rQ&s"
        alt=""
      />
    </li>
  </ul>
</div>
