<footer>
    <div class="footer-logo">
        <img src="img/logo.png" alt="logo">
    </div>
    <div class="footer-links">
        Тел: +38 (123) 456 78 90 <br/>
E-Mail: codingmagic@gmail.com <br/>
Facebook: CodingMagic <br/>
Twitter: CodingMagic <br/>
Instagram: CodingMagic <br/>
    </div>
    <div class="footer-emeil">
          <div class="input-group mb-3 yearOfBornInputBox guessNumberInputBox">
    <input type="text" class="form-control yearOfBornInput guessNumberInput" placeholder="e-mail" aria-label="Recipient's username" aria-describedby="button-addon2" />
    <button style="width: 150px;" class="btn btn-dark" type="button" id="button-addon2">
            підписатись
    </button>
    </div>
</footer>

<style>
    footer{
        display:flex;
        justify-content: space-around;
    align-items: center;

    }
</style>