<h1 class="main-title">Популярні інетрактивні ігри</h1>
<hr class="line-section" />
<include src="./partials/games/year-of-born.html"></include>
<hr class="line-section" />
<include src="./partials/games/guessTheNubmer/guessTheNubmer.html"></include>
<hr class="line-section" />
<include src="./partials/games/knp/knp.html"></include>
<hr class="line-section" />
<include src="./partials/games/calc/calc.html"></include>
<hr class="line-section" />
<include src="./partials/games/calc-time/calc-time.html"></include>
<hr class="line-section" />
<include src="./partials/games/dino/dino.html"></include>
<hr class="line-section" />
<include src="./partials/games/3Nums/3Nums.html"></include>